<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body{
      background-color: antiquewhite;
    }
  </style>
</head>
<body>
  <img src="https://cdn-sqn.aigei.com/assets/site/img/tool/demo-bgremover-new.png" alt="">
  <img src="https://www.aigei.com/gei-common/responseComp/tool/image/visit?fileUrl=20211015-3f7c76e325bd470da526d426681b9532.png" alt="">
</body>
</html>